---
import CopyButton from "../components/CopyButton.astro";
import Layout from "../layouts/Layout.astro";

const GITHUB_URL = "https://github.com/VincentStriegel";
const EMAIL_ADDRESS = "vincentstriegel@gmail.com";
---

<Layout title="Contact">
  <section class="container">
    <h1>Contact Me:</h1>
    <ul class="links">
      <li>
        <strong>Email:</strong>
        <div>
          <a href={`mailto:${EMAIL_ADDRESS}`}>{EMAIL_ADDRESS}</a>
          <CopyButton textToCopy={EMAIL_ADDRESS} title="Copy Email Address" />
        </div>
      </li>
      <li>
        <strong>GitHub:</strong>
        <div>
          <a href={GITHUB_URL} target="_blank" rel="noopener noreferrer"
            >{GITHUB_URL}</a
          >
          <CopyButton textToCopy={GITHUB_URL} title="Copy GitHub URL" />
        </div>
      </li>
    </ul>
  </section>
</Layout>

<style>
  .links li {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
  }
  .links li div {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  @media (max-width: 768px) {
    .links li {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
      margin-top: 0.5rem;
    }
  }
</style>
